body {
    position: relative;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 0.725rem;
}

.cover {
    width: 5%;
}


.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
}


@media ((min-width: 768px)) {
    .container {
        grid-template-columns: 400px 1fr;
    }

    .wrapper {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

}