body {
    position: relative;
}

.container, .area {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 0.725rem;
    background: var(--gray-900);
}



@media ((min-width: 768px)) {
    .container {
        grid-template-columns: 450px 1fr;
    }
}