.appMe{
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
  border-top: 1px solid green;
  gap:2rem;
}
.applications{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
 }
.applications span{
  display: block;
  color: green;
}
.appMe img{
  height: 22rem;
  margin:0;
  padding:0;
  border-radius: 8px;
  box-sizing:border-box;
  border: 1px solid white;
}
.urlapplications{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
 }

.urlapplications a{
  width: 10rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  font-weight:bold;
  color: var(--green-500);
  text-decoration: none;
  border: 1px solid white;
  padding: 1rem;
  display:flex;
  justify-content: center;
  border-radius: 4px;
  font-weight: bold;
  cursor:pointer;
  transition: background-color 0.1s;
}
.urlapplications a:hover{
  color: var(--green-300);
}
@media(max-width: 768px){
  html{
    font-size:87.5%; 
  }
   
}