.sidebar {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.titleside {
  display: flex;
  justify-content: center;
}

.hand {
  transition: all ease-in-out 0.3s;
  transform: rotate(-2deg) translateX(-2%) translateY(-2%);
}

.hand:hover {
  transform: rotate(2deg) translateX(2%) translateY(2%);
}


.name1 {
  color: var(--violet-500);
  padding: 0 1rem;
}

.name2 {
  color: var(--white);
  padding: 0 1rem;
  font-size: 1rem;
  margin-top: -1rem;
}

.name3 {
  color: var(--green-700);
}

.wrapper {
  display: flex;
}

.cover {
  width: 18rem;
  margin-top: -3rem;
}

.logosocial {
  width: 80%;
  height: 80%;
  opacity: 1;
  margin-top: .5rem;
  transition: transform 0.3s ease-in-out;
}

.logosocial:hover {
  opacity: .6;
  transform: scale(1.2);
}

.socialnetworks {
  width: 5rem;
  height: 4rem;
  padding: .5rem;
  margin: 1rem;
  font-weight: bold;
  background: var(--violet-500);
  color: var(--white);
  text-decoration: transparent;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
  border: none;
  /* border-top: 1.25px solid var(--white); */
}

.socialnetworks:first-child {
  margin-top: 2rem;
}

.socialnetworks a:hover {
  background: black;
  transition: background-color 0.1s;
  border-top: 1.25px solid var(--violet-500);
}


@media ((min-width: 768px)) {
  body {
    font-size: 2rem;
  }

  .sidebar {
    width: 100%;
    border-right: 0.5px solid var(--green-700);
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .hand {
    top: 3rem;
    left: -2rem;
  }

  .name2 {
    font-size: 3rem;
  }
}